/* Write your code here. */
.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.img {
  height: 600px;
  min-width: 100vh;
  border-radius: 10px;
}
.heading {
  color: #1e293b;
  font-size: 25px;
}
.description {
  color: #64748b;
  font-size: 15px;
}
.images-container {
  display: flex;
  list-style-type: none;
}
